<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="mercurial">
            <Component Id="mercurial.add_path.exe" Guid="29CADE0A-0849-4583-B4D2-524654235A7D">
                <File Id="mercurial.add_path.exe" Name="add_path.exe" KeyPath="yes" Source="..\..\mercurial\add_path.exe" />
                <RemoveFile Id="_96500ac4b95a46cca4462f734eada053" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.cacert.pem" Guid="DB9FF610-2CB0-4FA9-BD0E-D7A588DF9295">
                <File Id="mercurial.cacert.pem" Name="cacert.pem" Source="..\..\mercurial\cacert.pem" />
                <RemoveFile Id="_56465295096644369ef9b5c17d187543" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.hg.exe" Guid="B29C673C-38DA-4AA9-8D66-1C3DF6565DAA">
                <File Id="mercurial.hg.exe" Name="hg.exe" Source="..\..\mercurial\hg.exe" />
                <RemoveFile Id="_1c7cc51d5ece429aaf251751200d505e" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.hg.exe.local" Guid="37DB5467-44B0-4835-B751-54EFF0195F39">
                <File Id="mercurial.hg.exe.local" Name="hg.exe.local" Source="..\..\mercurial\hg.exe.local" />
                <RemoveFile Id="_06aefd23d97c45afafcc445a8ed67396" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.library.zip" Guid="6D9BB926-F38B-4F3B-90A4-2113D69ABC61">
                <File Id="mercurial.library.zip" Name="library.zip" Source="..\..\mercurial\library.zip" />
                <RemoveFile Id="_9a1bfb579fd549f7b9c9754dbbe90bb8" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.Mercurial.url" Guid="FCBADE51-091D-4B17-8F63-7DB04E0C3303">
                <File Id="mercurial.Mercurial.url" Name="Mercurial.url" Source="..\..\mercurial\Mercurial.url" />
                <RemoveFile Id="_be2c59aa2ecb4813aee66dece934ea7c" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.Microsoft.VC90.CRT.manifest" Guid="2D17ACBA-2588-479A-99E4-51B36F99E8FF">
                <File Id="mercurial.Microsoft.VC90.CRT.manifest" Name="Microsoft.VC90.CRT.manifest" Source="..\..\mercurial\Microsoft.VC90.CRT.manifest" />
                <RemoveFile Id="_21ac6377cb564fb8a86acf1bcfba29f9" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.msvcm90.dll" Guid="E9C75BEE-0D01-4919-A97A-96CC2A4D8AF3">
                <File Id="mercurial.msvcm90.dll" Name="msvcm90.dll" Source="..\..\mercurial\msvcm90.dll" />
                <RemoveFile Id="_eb5a722205b6453e9cd06c58faa36189" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.msvcp90.dll" Guid="907379F8-B4BA-4C4B-8577-77C3C57124C7">
                <File Id="mercurial.msvcp90.dll" Name="msvcp90.dll" Source="..\..\mercurial\msvcp90.dll" />
                <RemoveFile Id="_cffce01be0904419883f2965c0291e52" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.msvcr90.dll" Guid="00C8FA75-B7D0-4474-A7C3-4018A2B9F351">
                <File Id="mercurial.msvcr90.dll" Name="msvcr90.dll" Source="..\..\mercurial\msvcr90.dll" />
                <RemoveFile Id="_e216d68a162340a299b90ecf5f86f959" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.python27.dll" Guid="DB38C386-3C09-4D05-970F-846B465CB720">
                <File Id="mercurial.python27.dll" Name="python27.dll" Source="..\..\mercurial\python27.dll" />
                <RemoveFile Id="_540a95b9763745bd843062c88a2f998f" On="both" Name="*.*" />
            </Component>
            <Component Id="mercurial.w9xpopen.exe" Guid="EFD663EB-548A-4C55-9D18-64A5E935D3A7">
                <File Id="mercurial.w9xpopen.exe" Name="w9xpopen.exe" Source="..\..\mercurial\w9xpopen.exe" />
                <RemoveFile Id="_e72168cea767424fa806074fe9670546" On="both" Name="*.*" />
            </Component>
            <Directory Id="mercurial.Contrib" Name="Contrib">
                <Component Id="mercurial.Contrib.bash_completion" Guid="413779F6-1BC4-4DDA-8457-9C925471CF72">
                    <File Id="mercurial.Contrib.bash_completion" Name="bash_completion" KeyPath="yes" Source="..\..\mercurial\Contrib\bash_completion" />
                    <RemoveFile Id="_fe8a09662a1042dbabcd58c56b15315a" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.hgk.tcl" Guid="9EF3FB7E-8C5A-442F-B4CE-6B42F8F11A6F">
                    <File Id="mercurial.Contrib.hgk.tcl" Name="hgk.tcl" Source="..\..\mercurial\Contrib\hgk.tcl" />
                    <RemoveFile Id="_4ef77eec9f344cb89e57554eaf67d569" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.hgweb.fcgi" Guid="C2B865CE-A507-4291-B337-7067BC9AE89C">
                    <File Id="mercurial.Contrib.hgweb.fcgi" Name="hgweb.fcgi" Source="..\..\mercurial\Contrib\hgweb.fcgi" />
                    <RemoveFile Id="_3b60eb2a8cee44d99346e8ddc67f5c25" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.hgweb.wsgi" Guid="B020E914-1D9E-47AB-AAF7-00EB8C4E53D4">
                    <File Id="mercurial.Contrib.hgweb.wsgi" Name="hgweb.wsgi" Source="..\..\mercurial\Contrib\hgweb.wsgi" />
                    <RemoveFile Id="_dc4334f8dfc742febb925ac85b6b9959" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.mercurial.el" Guid="3D986719-4B47-44E8-9763-9B7C6083C38D">
                    <File Id="mercurial.Contrib.mercurial.el" Name="mercurial.el" Source="..\..\mercurial\Contrib\mercurial.el" />
                    <RemoveFile Id="_ace8741ead4b4349b682da992797334a" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.mq.el" Guid="5CACA9A8-A24F-4DC6-B0F9-7014B1D9E50B">
                    <File Id="mercurial.Contrib.mq.el" Name="mq.el" Source="..\..\mercurial\Contrib\mq.el" />
                    <RemoveFile Id="_5cf55dd0778c4264a0e905a5ac63d033" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.tcsh_completion" Guid="6421D7AB-E6D5-42B7-A1BB-BD3776DC317C">
                    <File Id="mercurial.Contrib.tcsh_completion" Name="tcsh_completion" Source="..\..\mercurial\Contrib\tcsh_completion" />
                    <RemoveFile Id="_a20f69a4215e4ba982dc21f5fe659c27" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.tcsh_completion_build.sh" Guid="B012334A-C6EA-4F6D-9A0B-AD9ED64F4DE5">
                    <File Id="mercurial.Contrib.tcsh_completion_build.sh" Name="tcsh_completion_build.sh" Source="..\..\mercurial\Contrib\tcsh_completion_build.sh" />
                    <RemoveFile Id="_b7226bfe6d49425281704b78da576f63" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.xml.rnc" Guid="4FD34FC2-B182-4E95-9E17-653CAA033688">
                    <File Id="mercurial.Contrib.xml.rnc" Name="xml.rnc" Source="..\..\mercurial\Contrib\xml.rnc" />
                    <RemoveFile Id="_e1d4bd4cc71a42518c4f98e1d109eca1" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.Contrib.zsh_completion" Guid="0FB87A61-A9F5-4C8C-90F6-11F1DD23B13E">
                    <File Id="mercurial.Contrib.zsh_completion" Name="zsh_completion" Source="..\..\mercurial\Contrib\zsh_completion" />
                    <RemoveFile Id="_2273784307254e089f35c595e083f7c4" On="both" Name="*.*" />
                </Component>
                <Directory Id="mercurial.Contrib.Vim" Name="Vim">
                    <Component Id="mercurial.Contrib.Vim.hg_menu.vim" Guid="44A19AE7-20ED-4212-9B86-AE4FE0FB7263">
                        <File Id="mercurial.Contrib.Vim.hg_menu.vim" Name="hg-menu.vim" KeyPath="yes" Source="..\..\mercurial\Contrib\Vim\hg-menu.vim" />
                        <RemoveFile Id="_4924f7c771664ef2830c3efcda541d1f" On="both" Name="*.*" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.HGAnnotate.vim" Guid="83A1A51D-5FEC-4B5E-A918-D92FE7167A31">
                        <File Id="mercurial.Contrib.Vim.HGAnnotate.vim" Name="HGAnnotate.vim" Source="..\..\mercurial\Contrib\Vim\HGAnnotate.vim" />
                        <RemoveFile Id="_8f05152ada074e42b22a86fc1473de65" On="both" Name="*.*" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.hgcommand.vim" Guid="251067EC-3711-4126-BA6C-E055FFD086F0">
                        <File Id="mercurial.Contrib.Vim.hgcommand.vim" Name="hgcommand.vim" Source="..\..\mercurial\Contrib\Vim\hgcommand.vim" />
                        <RemoveFile Id="_4501b9545f61491eb6f1c980b159adee" On="both" Name="*.*" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.hgtest.vim" Guid="1D57CC7D-FF31-4C35-8E77-253B7B9EC4E4">
                        <File Id="mercurial.Contrib.Vim.hgtest.vim" Name="hgtest.vim" Source="..\..\mercurial\Contrib\Vim\hgtest.vim" />
                        <RemoveFile Id="_45d1a88659c7493489475094772a3561" On="both" Name="*.*" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.patchreview.txt" Guid="A5F93AE6-7BBC-4361-8DAE-89D59610F1FE">
                        <File Id="mercurial.Contrib.Vim.patchreview.txt" Name="patchreview.txt" Source="..\..\mercurial\Contrib\Vim\patchreview.txt" />
                        <RemoveFile Id="_136c0916b44f417ab09261d3d95ab357" On="both" Name="*.*" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.patchreview.vim" Guid="EEFEF009-9559-47B8-89F6-A35D31B166E4">
                        <File Id="mercurial.Contrib.Vim.patchreview.vim" Name="patchreview.vim" Source="..\..\mercurial\Contrib\Vim\patchreview.vim" />
                        <RemoveFile Id="_5917cff33da540008023722e8099de7f" On="both" Name="*.*" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="mercurial.default.d" Name="default.d">
                <Component Id="mercurial.default.d.cacerts.rc" Guid="D5D5E209-CAD6-4EA6-8BCC-48C168B9E19B">
                    <File Id="mercurial.default.d.cacerts.rc" Name="cacerts.rc" KeyPath="yes" Source="..\..\mercurial\default.d\cacerts.rc" />
                    <RemoveFile Id="_5ef45d51c74d4ad4b6273d0af01f7d82" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.default.d.editor.rc" Guid="1E5C8A7B-DC49-45B4-9468-6CDB24D6C05C">
                    <File Id="mercurial.default.d.editor.rc" Name="editor.rc" Source="..\..\mercurial\default.d\editor.rc" />
                    <RemoveFile Id="_1c5fbd109beb4406afc86ceb317d10d8" On="both" Name="*.*" />
                </Component>
                <Component Id="mercurial.default.d.mergetools.rc" Guid="EF7C8273-772B-4182-8B2F-74EF38C8B7F1">
                    <File Id="mercurial.default.d.mergetools.rc" Name="mergetools.rc" Source="..\..\mercurial\default.d\mergetools.rc" />
                    <RemoveFile Id="_84b8c2919114495e84cca11053ade47d" On="both" Name="*.*" />
                </Component>
            </Directory>
        </DirectoryRef>
        <ComponentGroup Id="Mercurial">
            <ComponentRef Id="mercurial.add_path.exe" />
            <ComponentRef Id="mercurial.cacert.pem" />
            <ComponentRef Id="mercurial.hg.exe" />
            <ComponentRef Id="mercurial.hg.exe.local" />
            <ComponentRef Id="mercurial.library.zip" />
            <ComponentRef Id="mercurial.Mercurial.url" />
            <ComponentRef Id="mercurial.Microsoft.VC90.CRT.manifest" />
            <ComponentRef Id="mercurial.msvcm90.dll" />
            <ComponentRef Id="mercurial.msvcp90.dll" />
            <ComponentRef Id="mercurial.msvcr90.dll" />
            <ComponentRef Id="mercurial.python27.dll" />
            <ComponentRef Id="mercurial.w9xpopen.exe" />
            <ComponentRef Id="mercurial.Contrib.bash_completion" />
            <ComponentRef Id="mercurial.Contrib.hgk.tcl" />
            <ComponentRef Id="mercurial.Contrib.hgweb.fcgi" />
            <ComponentRef Id="mercurial.Contrib.hgweb.wsgi" />
            <ComponentRef Id="mercurial.Contrib.mercurial.el" />
            <ComponentRef Id="mercurial.Contrib.mq.el" />
            <ComponentRef Id="mercurial.Contrib.tcsh_completion" />
            <ComponentRef Id="mercurial.Contrib.tcsh_completion_build.sh" />
            <ComponentRef Id="mercurial.Contrib.xml.rnc" />
            <ComponentRef Id="mercurial.Contrib.zsh_completion" />
            <ComponentRef Id="mercurial.Contrib.Vim.hg_menu.vim" />
            <ComponentRef Id="mercurial.Contrib.Vim.HGAnnotate.vim" />
            <ComponentRef Id="mercurial.Contrib.Vim.hgcommand.vim" />
            <ComponentRef Id="mercurial.Contrib.Vim.hgtest.vim" />
            <ComponentRef Id="mercurial.Contrib.Vim.patchreview.txt" />
            <ComponentRef Id="mercurial.Contrib.Vim.patchreview.vim" />
            <ComponentRef Id="mercurial.default.d.cacerts.rc" />
            <ComponentRef Id="mercurial.default.d.editor.rc" />
            <ComponentRef Id="mercurial.default.d.mergetools.rc" />
        </ComponentGroup>
    </Fragment>
</Wix>