<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="mercurial">
            <Component Id="mercurial.add_path.exe" Guid="D63A8C10-90B6-4843-9BCB-187366FEFED0">
                <File Id="mercurial.add_path.exe" Name="add_path.exe" KeyPath="yes" Source="..\..\Mercurial\add_path.exe" />
            </Component>
            <Component Id="mercurial.cacert.pem" Guid="6DF15B8B-194E-4322-936D-29AA8E693B89">
                <File Id="mercurial.cacert.pem" Name="cacert.pem" Source="..\..\Mercurial\cacert.pem" />
            </Component>
            <Component Id="mercurial.hg.exe" Guid="C65B2D2E-3705-4BA7-99D8-6B87FFB6CE81">
                <File Id="mercurial.hg.exe" Name="hg.exe" Source="..\..\Mercurial\hg.exe" />
            </Component>
            <Component Id="mercurial.hg.exe.local" Guid="EE1D96EC-14B4-467F-BA2D-849962E49C73">
                <File Id="mercurial.hg.exe.local" Name="hg.exe.local" Source="..\..\Mercurial\hg.exe.local" />
            </Component>
            <Component Id="mercurial.library.zip" Guid="30C62CEF-C4BB-4C02-A162-12A0649F790C">
                <File Id="mercurial.library.zip" Name="library.zip" Source="..\..\Mercurial\library.zip" />
            </Component>
            <Component Id="mercurial.Mercurial.url" Guid="FC11F10A-E025-4DB8-BB84-A28B4B06606D">
                <File Id="mercurial.Mercurial.url" Name="Mercurial.url" Source="..\..\Mercurial\Mercurial.url" />
            </Component>
            <Component Id="mercurial.Microsoft.VC90.CRT.manifest" Guid="E296637A-0C13-4FBA-A514-EA2A141FABEE">
                <File Id="mercurial.Microsoft.VC90.CRT.manifest" Name="Microsoft.VC90.CRT.manifest" Source="..\..\Mercurial\Microsoft.VC90.CRT.manifest" />
            </Component>
            <Component Id="mercurial.msvcm90.dll" Guid="A1887C96-D3C6-4833-8446-8CCC038F4F02">
                <File Id="mercurial.msvcm90.dll" Name="msvcm90.dll" Source="..\..\Mercurial\msvcm90.dll" />
            </Component>
            <Component Id="mercurial.msvcp90.dll" Guid="60EC2A57-8A66-4663-929A-2F9B4FF8A878">
                <File Id="mercurial.msvcp90.dll" Name="msvcp90.dll" Source="..\..\Mercurial\msvcp90.dll" />
            </Component>
            <Component Id="mercurial.msvcr90.dll" Guid="58201B58-B52B-4F05-9B4D-315BF9DE4CDD">
                <File Id="mercurial.msvcr90.dll" Name="msvcr90.dll" Source="..\..\Mercurial\msvcr90.dll" />
            </Component>
            <Component Id="mercurial.python27.dll" Guid="5951AD1A-1ACF-41CA-8B5C-6C9048141C9A">
                <File Id="mercurial.python27.dll" Name="python27.dll" Source="..\..\Mercurial\python27.dll" />
            </Component>
            <Component Id="mercurial.w9xpopen.exe" Guid="E10BB6A7-1325-4AD3-B6A1-3F8869125D8F">
                <File Id="mercurial.w9xpopen.exe" Name="w9xpopen.exe" Source="..\..\Mercurial\w9xpopen.exe" />
            </Component>
            <Directory Id="mercurial.Contrib" Name="Contrib">
                <Component Id="mercurial.Contrib.bash_completion" Guid="D560E908-33AA-4029-935E-6FE08C9778DC">
                    <File Id="mercurial.Contrib.bash_completion" Name="bash_completion" KeyPath="yes" Source="..\..\Mercurial\Contrib\bash_completion" />
                </Component>
                <Component Id="mercurial.Contrib.hgk.tcl" Guid="F92713AA-98D3-41BA-9783-AE54D396ED24">
                    <File Id="mercurial.Contrib.hgk.tcl" Name="hgk.tcl" Source="..\..\Mercurial\Contrib\hgk.tcl" />
                </Component>
                <Component Id="mercurial.Contrib.hgweb.fcgi" Guid="025233E4-0336-4E65-84D3-F3A21BC749B4">
                    <File Id="mercurial.Contrib.hgweb.fcgi" Name="hgweb.fcgi" Source="..\..\Mercurial\Contrib\hgweb.fcgi" />
                </Component>
                <Component Id="mercurial.Contrib.hgweb.wsgi" Guid="48953CEA-4772-4D5B-BA2F-85637685C52B">
                    <File Id="mercurial.Contrib.hgweb.wsgi" Name="hgweb.wsgi" Source="..\..\Mercurial\Contrib\hgweb.wsgi" />
                </Component>
                <Component Id="mercurial.Contrib.mercurial.el" Guid="71E613B1-D53A-455D-A16E-E2410ABC5E8D">
                    <File Id="mercurial.Contrib.mercurial.el" Name="mercurial.el" Source="..\..\Mercurial\Contrib\mercurial.el" />
                </Component>
                <Component Id="mercurial.Contrib.mq.el" Guid="FC3AB9F0-32BD-4838-B254-04243D517065">
                    <File Id="mercurial.Contrib.mq.el" Name="mq.el" Source="..\..\Mercurial\Contrib\mq.el" />
                </Component>
                <Component Id="mercurial.Contrib.tcsh_completion" Guid="B9BB5D57-220B-4EE6-885C-920C238B3CFA">
                    <File Id="mercurial.Contrib.tcsh_completion" Name="tcsh_completion" Source="..\..\Mercurial\Contrib\tcsh_completion" />
                </Component>
                <Component Id="mercurial.Contrib.tcsh_completion_build.sh" Guid="0D1FE716-B199-464B-BD0F-F3A85DBF96F1">
                    <File Id="mercurial.Contrib.tcsh_completion_build.sh" Name="tcsh_completion_build.sh" Source="..\..\Mercurial\Contrib\tcsh_completion_build.sh" />
                </Component>
                <Component Id="mercurial.Contrib.xml.rnc" Guid="E85F2F40-9F86-4578-8D5C-303032CC66FF">
                    <File Id="mercurial.Contrib.xml.rnc" Name="xml.rnc" Source="..\..\Mercurial\Contrib\xml.rnc" />
                </Component>
                <Component Id="mercurial.Contrib.zsh_completion" Guid="D45098EE-1515-4917-91D5-F62DD07AD301">
                    <File Id="mercurial.Contrib.zsh_completion" Name="zsh_completion" Source="..\..\Mercurial\Contrib\zsh_completion" />
                </Component>
                <Directory Id="mercurial.Contrib.Vim" Name="Vim">
                    <Component Id="mercurial.Contrib.Vim.hg_menu.vim" Guid="4D494BDB-97A8-4436-AC7D-39FB95BADC7F">
                        <File Id="mercurial.Contrib.Vim.hg_menu.vim" Name="hg-menu.vim" KeyPath="yes" Source="..\..\Mercurial\Contrib\Vim\hg-menu.vim" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.HGAnnotate.vim" Guid="B386FB78-CD89-4665-8C23-22190B75A2B3">
                        <File Id="mercurial.Contrib.Vim.HGAnnotate.vim" Name="HGAnnotate.vim" Source="..\..\Mercurial\Contrib\Vim\HGAnnotate.vim" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.hgcommand.vim" Guid="856172DB-A2CA-4908-B468-817F3C67BCEC">
                        <File Id="mercurial.Contrib.Vim.hgcommand.vim" Name="hgcommand.vim" Source="..\..\Mercurial\Contrib\Vim\hgcommand.vim" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.hgtest.vim" Guid="7B2EEF77-F580-493D-B611-CA24AA019F69">
                        <File Id="mercurial.Contrib.Vim.hgtest.vim" Name="hgtest.vim" Source="..\..\Mercurial\Contrib\Vim\hgtest.vim" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.patchreview.txt" Guid="5E461A59-65BC-437F-AB75-03BC7A3FBDCA">
                        <File Id="mercurial.Contrib.Vim.patchreview.txt" Name="patchreview.txt" Source="..\..\Mercurial\Contrib\Vim\patchreview.txt" />
                    </Component>
                    <Component Id="mercurial.Contrib.Vim.patchreview.vim" Guid="DF8C3C0B-209A-42E9-8BF8-3116D1B0D192">
                        <File Id="mercurial.Contrib.Vim.patchreview.vim" Name="patchreview.vim" Source="..\..\Mercurial\Contrib\Vim\patchreview.vim" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="mercurial.default.d" Name="default.d">
                <Component Id="mercurial.default.d.cacerts.rc" Guid="EBBE1FE8-F005-4582-A41C-24643CDA442C">
                    <File Id="mercurial.default.d.cacerts.rc" Name="cacerts.rc" KeyPath="yes" Source="..\..\Mercurial\default.d\cacerts.rc" />
                </Component>
                <Component Id="mercurial.default.d.editor.rc" Guid="5CE11261-3D90-447A-B240-E57394090508">
                    <File Id="mercurial.default.d.editor.rc" Name="editor.rc" Source="..\..\Mercurial\default.d\editor.rc" />
                </Component>
                <Component Id="mercurial.default.d.mergetools.rc" Guid="DB7B8034-ABA8-4DB1-A388-94C9C1A4A462">
                    <File Id="mercurial.default.d.mergetools.rc" Name="mergetools.rc" Source="..\..\Mercurial\default.d\mergetools.rc" />
                </Component>
            </Directory>
        </DirectoryRef>
        <ComponentGroup Id="Mercurial">
            <ComponentRef Id="mercurial.add_path.exe" />
            <ComponentRef Id="mercurial.cacert.pem" />
            <ComponentRef Id="mercurial.hg.exe" />
            <ComponentRef Id="mercurial.hg.exe.local" />
            <ComponentRef Id="mercurial.library.zip" />
            <ComponentRef Id="mercurial.Mercurial.url" />
            <ComponentRef Id="mercurial.Microsoft.VC90.CRT.manifest" />
            <ComponentRef Id="mercurial.msvcm90.dll" />
            <ComponentRef Id="mercurial.msvcp90.dll" />
            <ComponentRef Id="mercurial.msvcr90.dll" />
            <ComponentRef Id="mercurial.python27.dll" />
            <ComponentRef Id="mercurial.w9xpopen.exe" />
            <ComponentRef Id="mercurial.Contrib.bash_completion" />
            <ComponentRef Id="mercurial.Contrib.hgk.tcl" />
            <ComponentRef Id="mercurial.Contrib.hgweb.fcgi" />
            <ComponentRef Id="mercurial.Contrib.hgweb.wsgi" />
            <ComponentRef Id="mercurial.Contrib.mercurial.el" />
            <ComponentRef Id="mercurial.Contrib.mq.el" />
            <ComponentRef Id="mercurial.Contrib.tcsh_completion" />
            <ComponentRef Id="mercurial.Contrib.tcsh_completion_build.sh" />
            <ComponentRef Id="mercurial.Contrib.xml.rnc" />
            <ComponentRef Id="mercurial.Contrib.zsh_completion" />
            <ComponentRef Id="mercurial.Contrib.Vim.hg_menu.vim" />
            <ComponentRef Id="mercurial.Contrib.Vim.HGAnnotate.vim" />
            <ComponentRef Id="mercurial.Contrib.Vim.hgcommand.vim" />
            <ComponentRef Id="mercurial.Contrib.Vim.hgtest.vim" />
            <ComponentRef Id="mercurial.Contrib.Vim.patchreview.txt" />
            <ComponentRef Id="mercurial.Contrib.Vim.patchreview.vim" />
            <ComponentRef Id="mercurial.default.d.cacerts.rc" />
            <ComponentRef Id="mercurial.default.d.editor.rc" />
            <ComponentRef Id="mercurial.default.d.mergetools.rc" />
        </ComponentGroup>
    </Fragment>
</Wix>